*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff; }

/* Works on Firefox */
.cta {
  width: 20rem;
  height: 4.8rem;
  border: none;
  border-radius: 10rem;
  background-color: #ffffff;
  color: #00252e;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  .cta--pink {
    background-color: #ff52bf;
    color: #ffffff; }
    .cta--pink:hover {
      background-color: rgba(255, 82, 191, 0.7); }
  .cta--lg {
    width: 28rem;
    height: 5.6rem; }
    @media only screen and (max-width: 50em) {
      .cta--lg {
        width: 40rem;
        height: 8rem;
        font-size: 2rem; } }
    @media only screen and (max-width: 35em) {
      .cta--lg {
        width: 28rem;
        height: 5.6rem; } }
  .cta--xl {
    width: 40rem;
    height: 8rem;
    font-size: 2rem; }
    @media only screen and (max-width: 50em) {
      .cta--xl {
        width: 30rem;
        height: 6rem; } }
    @media only screen and (max-width: 25em) {
      .cta--xl {
        width: 25rem;
        height: 5.5rem;
        font-size: 1.8rem; } }
  .cta--shadow-low {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1); }
  .cta--shadow-md {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .cta:focus {
    outline: none; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 5rem 5%;
  padding-top: 10rem;
  margin: 0 auto;
  height: 56rem;
  background-color: #00252e;
  color: #ffffff; }
  @media only screen and (max-width: 50em) {
    .footer {
      height: 170rem; } }
  @media only screen and (max-width: 50em) {
    .footer {
      align-items: center; } }
  .footer__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    margin-top: 5rem; }
    @media only screen and (max-width: 69em) {
      .footer__box {
        height: 70%; } }
    @media only screen and (max-width: 50em) {
      .footer__box {
        height: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__contact-box {
    padding: 0 3rem;
    max-width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.8rem;
    line-height: 1.5; }
    @media only screen and (max-width: 69em) {
      .footer__contact-box {
        max-width: 45%; } }
    @media only screen and (max-width: 50em) {
      .footer__contact-box {
        justify-content: space-evenly;
        max-width: 90%;
        height: 60%; } }
    @media only screen and (max-width: 35em) {
      .footer__contact-box {
        padding: 0; } }
  @media only screen and (max-width: 50em) {
    .footer__logo-box {
      width: 70%;
      height: auto; } }
  .footer__contact {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    @media only screen and (max-width: 50em) {
      .footer__contact {
        font-size: 3rem;
        line-height: 1.7; } }
    @media only screen and (max-width: 35em) {
      .footer__contact {
        font-size: 2.5rem; } }
  .footer__icon-box {
    margin-top: 0.5rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .footer__icon-box {
        margin-top: 1.7rem; } }
  .footer__link-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 55%;
    margin-top: 4rem; }
    @media only screen and (max-width: 69em) {
      .footer__link-box {
        flex-direction: column;
        align-items: flex-end;
        height: 90%; } }
    @media only screen and (max-width: 50em) {
      .footer__link-box {
        align-items: center; } }
    @media only screen and (max-width: 50em) {
      .footer__link-box {
        height: 50%; } }
    @media only screen and (max-width: 50em) {
      .footer__link-box {
        margin-top: 0; } }
  .footer__link-list {
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 5rem; }
    @media only screen and (max-width: 69em) {
      .footer__link-list {
        margin-left: 0;
        width: 100%;
        align-items: center; } }
    @media only screen and (max-width: 50em) {
      .footer__link-list {
        flex-wrap: nowrap;
        align-items: center; } }
    .footer__link-list li {
      flex-basis: 33%;
      width: 40%; }
      @media only screen and (max-width: 69em) {
        .footer__link-list li {
          width: 30%; } }
      @media only screen and (max-width: 50em) {
        .footer__link-list li {
          text-align: center;
          flex-basis: 15%;
          width: 80%; } }
    .footer__link-list a {
      text-decoration: none;
      color: #ffffff;
      font-size: 2rem;
      text-transform: capitalize; }
      @media only screen and (max-width: 50em) {
        .footer__link-list a {
          font-size: 3.2rem; } }
  .footer__social-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 38%; }
    .footer__social-box a:not(:last-child) {
      margin-right: 2rem; }
    @media only screen and (max-width: 69em) {
      .footer__social-box {
        width: 50%; } }
    @media only screen and (max-width: 50em) {
      .footer__social-box {
        width: auto; } }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 0.8rem;
    fill: #ffffff; }
    @media only screen and (max-width: 50em) {
      .footer__social {
        height: 5.5rem;
        width: 5.5rem;
        border: 2px solid #ffffff;
        border-radius: 50%;
        padding: 1.1rem; } }
  .footer__copyright {
    margin-top: 5rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 50em) {
      .footer__copyright {
        font-size: 1.8rem; } }

.header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 0 5rem;
  background-color: #ebfbff;
  background-image: url(../../img/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain; }
  @media only screen and (max-width: 50em) {
    .header {
      background-image: url(../../img/bg-hero-mobile.svg);
      height: 100%;
      padding: 0 3rem;
      padding-bottom: 5rem; } }
  .header__logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    min-height: 15%; }
    @media only screen and (max-width: 50em) {
      .header__logo-box {
        padding: 5rem 0; } }
    @media only screen and (max-width: 35em) {
      .header__logo-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 7rem;
        padding: 0;
        margin-top: 5rem; } }
  .header__logo {
    width: 20rem; }
    @media only screen and (max-width: 35em) {
      .header__logo {
        width: 30rem; } }
    @media only screen and (max-width: 25em) {
      .header__logo {
        width: 23rem; } }
  .header__btn:hover {
    color: #808d99; }
  .header__btn:active {
    color: #00252e; }
  @media only screen and (max-width: 35em) {
    .header__btn {
      display: none; } }
  .header__main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80%;
    margin-top: 3rem; }
    @media only screen and (max-width: 50em) {
      .header__main-box {
        flex-direction: column;
        height: 100%; } }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 85%;
    padding: 3rem;
    padding-right: 4rem;
    max-width: 45%; }
    @media only screen and (min-width: 100em) {
      .header__text-box {
        max-width: 50%; } }
    @media only screen and (max-width: 50em) {
      .header__text-box {
        align-items: center;
        height: 70rem;
        text-align: center;
        padding: 0;
        max-width: 100%; } }
    @media only screen and (max-width: 35em) {
      .header__text-box {
        height: 60rem; } }
    @media only screen and (max-width: 25em) {
      .header__text-box {
        height: 50rem; } }
  .header__heading {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #00252e;
    text-transform: capitalize; }
    @media only screen and (min-width: 100em) {
      .header__heading {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 69em) {
      .header__heading {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 57em) {
      .header__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 50em) {
      .header__heading {
        font-size: 5rem; } }
    @media only screen and (max-width: 35em) {
      .header__heading {
        font-size: 4rem; } }
    @media only screen and (max-width: 25em) {
      .header__heading {
        font-size: 3.5rem; } }
  .header__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    color: #00252e; }
    @media only screen and (min-width: 100em) {
      .header__text {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 50em) {
      .header__text {
        font-size: 3rem;
        line-height: 1.4; } }
    @media only screen and (max-width: 35em) {
      .header__text {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 25em) {
      .header__text {
        font-size: 2rem;
        line-height: 1.5; } }
  .header__img-box {
    max-width: 69rem;
    flex: 2; }
    @media only screen and (min-width: 100em) {
      .header__img-box {
        max-width: 49%; } }
    @media only screen and (max-width: 50em) {
      .header__img-box {
        padding: 0 5rem; } }
    @media only screen and (max-width: 35em) {
      .header__img-box {
        padding: 0; } }
  .header__img {
    width: 100%; }

.main {
  width: 90%;
  margin: 0 auto;
  padding: 0 3rem;
  position: relative; }
  @media only screen and (max-width: 35em) {
    .main {
      padding: 0; } }

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 185rem; }
  .features > div:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (min-width: 100em) {
      .features > div:not(:last-child) {
        margin-bottom: 9rem; } }
    @media only screen and (max-width: 50em) {
      .features > div:not(:last-child) {
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 25em) {
      .features > div:not(:last-child) {
        margin-bottom: 5rem; } }
  @media only screen and (min-width: 100em) {
    .features {
      min-height: 230rem; } }
  @media only screen and (max-width: 50em) {
    .features {
      width: 100%;
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  .features__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 44rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    padding: 5rem 3rem 5rem 5rem; }
    .features__card:nth-of-type(2n) {
      flex-direction: row-reverse;
      padding-left: 10rem; }
      .features__card:nth-of-type(2n) .features__text-box {
        padding-right: 0; }
      @media only screen and (min-width: 100em) {
        .features__card:nth-of-type(2n) {
          padding-left: 5rem; } }
      @media only screen and (max-width: 50em) {
        .features__card:nth-of-type(2n) {
          flex-direction: column-reverse;
          padding: 5rem; } }
      @media only screen and (max-width: 35em) {
        .features__card:nth-of-type(2n) {
          padding: 2rem; } }
      @media only screen and (max-width: 25em) {
        .features__card:nth-of-type(2n) {
          padding: 1rem; } }
    @media only screen and (min-width: 100em) {
      .features__card {
        min-height: 60rem; } }
    @media only screen and (max-width: 50em) {
      .features__card {
        flex-direction: column-reverse;
        padding: 5rem;
        min-height: 85rem;
        border-radius: 4rem; } }
    @media only screen and (max-width: 35em) {
      .features__card {
        padding: 2rem;
        justify-content: space-evenly;
        min-height: 67rem; } }
    @media only screen and (max-width: 25em) {
      .features__card {
        padding: 1rem; } }
  .features__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 54%;
    min-height: 18rem;
    padding-left: 5rem;
    padding-right: 5rem; }
    @media only screen and (max-width: 50em) {
      .features__text-box {
        max-width: 100%;
        min-height: 27rem;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 0; } }
    @media only screen and (max-width: 35em) {
      .features__text-box {
        margin-top: 1rem; } }
    @media only screen and (max-width: 25em) {
      .features__text-box {
        margin-bottom: 2rem; } }
  .features__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: #00252e;
    text-transform: capitalize; }
    @media only screen and (min-width: 100em) {
      .features__heading {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 50em) {
      .features__heading {
        font-size: 3.8rem; } }
    @media only screen and (max-width: 35em) {
      .features__heading {
        font-size: 3rem; } }
  .features__text {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #808d99; }
    @media only screen and (min-width: 100em) {
      .features__text {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 50em) {
      .features__text {
        font-size: 2.5rem;
        line-height: 1.6;
        width: 90%; } }
    @media only screen and (max-width: 35em) {
      .features__text {
        font-size: 2rem; } }
  .features__img-box {
    max-width: 42rem; }
    @media only screen and (min-width: 100em) {
      .features__img-box {
        max-width: 40%; } }
    @media only screen and (max-width: 50em) {
      .features__img-box {
        max-width: 90%; } }
  .features__img {
    width: 100%; }

.community {
  margin: 0 auto;
  margin-bottom: -10rem;
  background-color: #ffffff;
  width: 65.54%;
  height: 28rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 57em) {
    .community {
      width: 100%; } }
  @media only screen and (max-width: 35em) {
    .community {
      border-radius: 4rem; } }
  .community__heading {
    font-size: 3.3rem;
    text-align: center;
    text-transform: capitalize; }
    @media only screen and (max-width: 25em) {
      .community__heading {
        font-size: 3rem; } }
