//COLORS
$color-primary-pink: hsl(322, 100%, 66%);

$color-neutral-veryPaleCyan: hsl(193, 100%, 96%);
$color-neutral-veryDarkCyan: hsl(192, 100%, 9%);
$color-neutral-grayishBlue: hsl(208, 11%, 55%);

//FONTS

// Breakpoints
$bp-xl: 100em; // 1600px
$bp-lg: 69em; // 1104px
$bp-md: 57em; // 912px
$bp-sm: 50em; // 800px
$bp-sm-2: 35em; // 560px
$bp-xs: 25em; // 400px
